<body>
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/Content/img/intro.jpg" alt="">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Oder Food</span>
                        <span class="section-heading-lower">ĐẶT MÓN</span>
                    </h2>
                    <p class="mb-3">
                        Mỗi món ăn bình dân chất lượng của chúng tôi bắt đầu với nguồn nguyên liệu địa phương, chế biến bằng tay. Một khi bạn thử nó, tôi nghĩ món ăn của chúng tôi sẽ là một liều thuốc bổ sung hạnh phúc cho thói quen hàng ngày của bạn - chúng tôi đảm bảo nó!
                    </p>
                    <div class="intro-button mx-auto">
                        <a class="btn btn-primary btn-xl" href="#">Oder ngay!!!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Our Promise</span>
                            <span class="section-heading-lower">To You</span>
                        </h2>
                        <p class="mb-0">Khi bạn bước vào cửa hàng của chúng tôi để bắt đầu ngày mới, chúng tôi sẵn sàng cung cấp cho bạn dịch vụ thân thiện, không khí chào đón và trên hết là các sản phẩm tuyệt vời được làm bằng các nguyên liệu chất lượng cao nhất. Nếu bạn không hài lòng, xin vui lòng cho chúng tôi biết và chúng tôi sẽ làm bất cứ điều gì có thể để làm cho mọi thứ trở nên đúng đắn!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
