@{
    ViewBag.Title = "SoftwareView";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<body>
    <div>
        <header>
            <div class="logo-box">
                <a href="@Url.Action("Index","Home")">
                    <img src="./img/logooutline.png" class="logo" alt="logo">
                </a>
            </div>
            <div class="text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary__main">
                        MY SOFTWARE
                    </span>
                    <span class="heading-primary__sub">
                        .♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡.
                    </span>
                </h1>
                <div>
                    <a href="/#" class="btn btn-white btn-outline-primary">THÊM PHẦN THỨC ĂN !!!</a> <!-- add this -->

                </div>
                <div>
                    <a href="/#" class="btn btn-white btn-outline-primary">THÊM NGƯỜI ĂN THÁNG</a> <!-- add this -->

                </div>
                <div>
                    <a href="/#" class="btn btn-white btn-outline-primary">PHẦN TÍNH TIỀN ~~~~!!</a> <!-- add this -->
                </div>

                <div>
                    <a href="/#" class="btn btn-white btn-outline-primary">KHÁC ~~~~~~~~~~~~!</a> <!-- add this -->
                </div>


            </div>
        </header>
    </div>
    
</body>

